venv
__pycache__/
LI_profiling
cache

#profiles.xlsm
*~$hr_tool.xlsm
*.DS_Store
.google-cookie
*.idea
.aws_config.ini
*hr_tool.xlsm
*/xlwings.conf
*.xlsm
*.xlsx
*.csv
.git
/li_parser/
/user_data.txt

*saved_file.csv
*saved_file.xlsx

web_template
/newvenv/
false