<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tusa</title>

    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}

    </style>
    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">

    <!--    <link href="../static/css/bootstrap-tour-standalone.min.css" rel="stylesheet">-->
    <!--    <link href="../static/css/bootstrap-tour.min.css" rel="stylesheet">-->


    {% block head %}{% endblock %}
</head>

<body id="page-top">


<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon ">
                <img height="50"  src="../static/img/undraw_party_re_nmwj.svg" alt="">
            </div>
            <div class="sidebar-brand-text mx-3">Tusa</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            My tabs
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <!--            <a class="nav-link" href="/my_searches/{{search['code']}}" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"-->
            <!--               aria-controls="collapsePages">-->
            {%if search['code']|length > 1%}
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-folder"></i>
                <span>Event board</span>
            </a>
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-map-marker"></i>
                <span>My venues</span>
            </a>
            {%endif%}
            <!--            <div id="collapsePages" class="collapse show" aria-labelledby="headingPages"-->
            <!--                 data-parent="#accordionSidebar">-->
            <!--                &lt;!&ndash;                <div class="bg-white py-2 collapse-inner rounded">&ndash;&gt;-->
            <!--                &lt;!&ndash;                    <h6 class="collapse-header">Active</h6>&ndash;&gt;-->
            <!--                &lt;!&ndash;                    <a class="collapse-item" href="#">Project 1</a>&ndash;&gt;-->
            <!--                &lt;!&ndash;                    <a class="collapse-item" href="#">Project 2</a>&ndash;&gt;-->
            <!--                &lt;!&ndash;                    <a class="collapse-item" href="#">Project 3</a>&ndash;&gt;-->
            <!--                &lt;!&ndash;                    <div class="collapse-divider"></div>&ndash;&gt;-->
            <!--                &lt;!&ndash;                    <h6 class="collapse-header">Past</h6>&ndash;&gt;-->
            <!--                &lt;!&ndash;                    <a class="collapse-item" href="#">Project 0</a>&ndash;&gt;-->
            <!--                &lt;!&ndash;                    <a class="collapse-item active" href="#">Project 0</a>&ndash;&gt;-->
            <!--                &lt;!&ndash;                </div>&ndash;&gt;-->
            <!--            </div>-->
        </li>

        <!-- Nav Item - Charts -->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="#">-->
<!--                <i class="fas fa-fw fa-chart-area"></i>-->
<!--                <span>Analytics</span></a>-->
<!--        </li>-->

        <!-- Nav Item - Tables -->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="#">-->
<!--                <i class="fas fa-fw fa-table"></i>-->
<!--                <span>Data</span></a>-->
<!--        </li>-->

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-200 navbar-search">

                    Signed in as <span class="font-weight-bold text-primary"><b>{{search['code']}}</b></span>
                    {%if search['project_name'] |length >1 %}, working on
                    project <a href="/projects/{{search['project_name']}}"><span class="font-weight-bold text-primary"><b>#{{search['project_name']}}</b></span></a>
                    {%else%}
                    {%endif%}
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - Alerts -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                            <span class="badge badge-danger badge-counter">3+</span>
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="alertsDropdown">
                            <h6 class="dropdown-header">
                                Alerts Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-primary">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 12, 2020</div>
                                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-success">
                                        <i class="fas fa-donate text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 7, 2020</div>
                                    $690 has been deposited into your account!
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                        </div>
                    </li>

                    <!-- Nav Item - Messages -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-envelope fa-fw"></i>
                            <!-- Counter - Messages -->
                            <span class="badge badge-danger badge-counter">4</span>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="messagesDropdown">
                            <h6 class="dropdown-header">
                                Message Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="../static/img/undraw_profile_1.svg"
                                         alt="">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div class="font-weight-bold">
                                    <div class="text-truncate">Hi! Can we, please, discuss how do to the
                                        candidate search algo?
                                    </div>
                                    <div class="small text-gray-500">Darin Maduar · 58m</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="../static/img/undraw_profile_2.svg"
                                         alt="">
                                    <div class="status-indicator"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">Hi, Team! let's do our catchup a bit earlier this week
                                    </div>
                                    <div class="small text-gray-500">Salim Maduar · 1d</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="../static/img/undraw_profile_3.svg"
                                         alt="">
                                    <div class="status-indicator bg-warning"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">I'm about to finish user testing. So far looks
                                        promising
                                    </div>
                                    <div class="small text-gray-500">Natalia Ivashko · 2d</div>
                                </div>
                            </a>

                            <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{search['code']}} </span>
                            <img class="img-profile rounded-circle"
                                 src="../static/img/undraw_profile.svg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                {% block body %}{% endblock %}

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Tusa 2022</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->


</div>


<!-- Bootstrap core JavaScript-->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--<script src="../static/js/bootstrap-tour.min.js"></script>-->

<script src="../static/js/bootstrap-tour-standalone.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../static/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="../static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="../static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Page level custom scripts -->
<script src="../static/js/demo/datatables-demo.js"></script>


<script src="../static/js/taginput.js"></script>

<!--<script language="javascript" type="text/javascript"-->
<!--        src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>-->
<script language="javascript" type="text/javascript">

function update_attendee() {
    var event_id = event.target.name
    var select = document.getElementById(event_id+'_'+'select');
	var option = select.options[select.selectedIndex];
    var username = "{{search['code']}}"

    var json = {"attendee":username, "event_id":event_id,
                       "attendance_status":option.value}


    $.ajax({
          type : "POST",
          dataType: "json",
          contentType: 'application/json; charset=utf-8',
          url : '/update_attendee',
          async: true,
          processData: false,
          cache: false,

          data : JSON.stringify(json),
          success : function() {

            // Set mark, color cell green
            if (select.value=="yes") {
                select.classList.add('bg-success');
            }
            else {select.classList.add('bg-danger');
            }



            // Success message

            var b= select;

<!--           setTimeout(function(){-->
<!--                b.innerHTML = '';-->
<!--            }, 2000);-->
          },

          error : function() {
          }
         });

}

function add_cand() {
    var cand_id = event.target.name
    //var project_name = document.getElementsByName("project_name")[0].value
    var project_name = "{{search['project_name']}}"
    var code = "{{search['code']}}"
    //var code = document.getElementsByName("code")[0].value

    var ths = document.getElementById("col_cand_list")
    col_name = ths.getElementsByTagName("th")[0].textContent // may be useful to extract some cols




    var json = {"code":code, "project_name":project_name,
                       "link":document.getElementById(cand_id+'_'+'link').href,
                       "username":cand_id,
                   "name": document.getElementById(cand_id+'_'+'name').textContent,
                   "employer": document.getElementById(cand_id+'_'+'employer').textContent,
                   "position": document.getElementById(cand_id+'_'+'position').textContent,
                   "descriptions": document.getElementById(cand_id+'_'+'descriptions').textContent,
                   "search_names": document.getElementById(cand_id+'_'+'search_names').textContent,
                   "score":document.getElementById(cand_id+'_'+'score').textContent,
                   "comment":document.getElementById(cand_id+'_'+'recruiter_comment').value}

    $.ajax({
          type : "POST",
          dataType: "json",
          contentType: 'application/json; charset=utf-8',
          url : '/add_cand',
          async: true,
          processData: false,
          cache: false,

          data : JSON.stringify(json),
          success : function() {

            // Set mark, color cell green
            var a = document.getElementById(cand_id+'_'+'exists')
            a.innerHTML = "<span class=\"text-large text-white\">&#10003;</span>";
            a.classList.add('bg-success');


            // Replace button from add to update
          var d = document.getElementById(cand_id+'_'+'addbtn')
           d.innerHTML = "Update"
           d.classList.replace('btn-success','btn-primary');

            // Success message

            var b= document.getElementById(cand_id+'_'+'msg-added');
            b.innerHTML = "Added/ Updated"

           setTimeout(function(){
                b.innerHTML = '';
            }, 2000);

             var c= document.getElementById(cand_id+'_'+'msg-updated');
            c.innerHTML = "Added/ Updated"

           setTimeout(function(){
                c.innerHTML = '';
            }, 2000);




          },
          error : function() {
          }
         });

}



function html2json() {
   var json = '{';
   var otArr = [];
   var tbl2 = $('#testtable tr').each(function(i) {
      x = $(this).children();
      var itArr = [];
      x.each(function() {
         itArr.push('"' + $(this).text() + '"');
      });
      otArr.push('"' + i + '": [' + itArr.join(',') + ']');
   })
   json += otArr.join(",") + '}'

   return json;
}










</script>

<script>
        $('.myContainer').TagsInput({
            tagInputPlaceholder:'eg. jquery',
            tagHiddenInput: $('.inputTags'),
            tagContainerBorderColor: '#d3d3d3',
            tagBackgroundColor: '#222',
            tagColor: '#fff',
            tagBorderColor: '#688eac'
        });



</script>


<script>
        $('.myContainer').TagsInput({
            tagInputPlaceholder:'eg. jquery',
            tagHiddenInput: $('.inputTags'),
            tagContainerBorderColor: '#d3d3d3',
            tagBackgroundColor: '#222',
            tagColor: '#fff',
            tagBorderColor: '#688eac'
        });









</script>
</body>

</html>